<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Get vs Post</h1>
    <h2>Get Request</h2>

    <form action="/user" method="get">

        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
        <button>Submit</button>
    </form>

    <br><br><br>
    <h2>Post Request</h2>

    <form action="/user" method="post">

        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
        <button>Submit</button>
    </form>
</body>
</html>